{% extends 'parent/base.html'%}
{%load blog_tags%}
{%block title %} post list {%endblock%}
{% block content %} 
    <h1>آمار</h1>
    <p>{%total_posts%}:تعدادپست ها</p>
    <p>{%total_comments%}:تعداد کامنت ها</p>
    <p>{%last_post_date%}:تاریخ آخرین پست</p>

    {% latest_posts 5 %} 

    <h1>محبوبترین پست ها</h1>
    {%most_popular_posts as pop_posts%}
    {%for post in pop_posts%}
        <br>
        <a href="{{post.get_absolute_url}}">{{post.title}}: with {{post.comments_count}}comments</a>
    {% endfor %}
{%endblock %} 